body  
	{background: #b366ff; 
	 text-align: center; 
	 font-size: 1em; 
	 font-family: verdana, tahoma, arial, helvetica, sans-serif;
	}
body *

	{margin: 0; 
	 padding: 0; 
	 font-size: 1em; 
	 text-align: left;
	}
	
h1 
	{font-size: 1.4em; 
	 font-weight: bold;
	 color: black;
	 background-color: #ce99ff;
	 line-height: 2em;	
	}
	
h2 
	{font-size: 1.2em;
	 color: black;
	 background-color: #9c33ff;	
	}
p
        {line-height:1em;
	}
img 
        {border: 0px;
	}